<div
  ng-controller="WelcomeController as ctrl"
  ng-init="ctrl.init(<%= welcome_init(@competitions) %>)"
  class="page welcome-page"
>
  <form class="competition-form" ng-submit="ctrl.create_competition()">
    <div class="heading">Add new competition</div>
    <div id="error_explanation" ng-if="ctrl.errors">
      Sorry, ther was a problem saving your entry:
      <ul>
        <li ng-repeat="(field, errors) in ctrl.errors">
          {{field}}:
          <span ng-repeat="error in errors">{{error}}</span>
        </li>
      </ul>
    </div>
    <div class="form-field">
      <span>Name</span>
      <input type="text" name="name" ng-model="ctrl.new_competition.name">
    </div>
    <div class="form-field">
      <span>Requires entry name?</span>
      <input type="checkbox" name="requires_entry_name" ng-model="ctrl.new_competition.requires_entry_name">
    </div>
    <div class="form-field">
      <span>Runner email</span>
      <input type="email" name="runner_email" ng-model="ctrl.new_competition.runner_email">
    </div>
    <div class="form-field">
      <span>MailChimp Api Key</span>
      <input type="text" name="mail_chimp_api_key" ng-model="ctrl.new_competition.mail_chimp_api_key">
    </div>
    <div class="form-field">
      <span>MailChimp List ID</span>
      <input type="text" name="mail_chimp_list_id" ng-model="ctrl.new_competition.mail_chimp_list_id">
    </div>
    <div class="form-field">
      <span></span>
      <input type="submit" value="Create!">
    </div>

  </form>
  <div class="competitions-list">
    <div ng-if="ctrl.competitions.length > 0" class="heading">
      Enter competitions below
    </div>
    <span ng-if="ctrl.competitions.length == 0" class="empty">No competitions available ;(</span>
    <div ng-repeat="competition in ctrl.competitions" class="competition-item">
      <a ng-href="{{competition.enter_path}}" class="name">{{competition.name}}</span>
      <a ng-href="{{competition.stats_path}}" class="stats">(stats)</span>
    </div>
  </div>
</div>
